img {
  max-width: 20%;
  height: auto;
}
.container {
  border: 1px solid;
  justify-content: space-evenly;
  display: contents;
}
.drag {
  /*border: solid 2px red;*/
  margin-right: -8rem;
  cursor: grab;
}
